version: '1'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: bogomolovss/foodgram_backend
    env_file: .env
    volumes:
      - static:/backend_static
      - media:/app/media/
    depends_on:
      - db

  frontend:
    image: bogomolovss/foodgram_frontend
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static

  gateway:
    image: bogomolovss/foodgram_gateway
    env_file: .env
    volumes:
      - static:/staticfiles
      - media:/mediafiles
    ports:
      - 8000:80
    depends_on:
      - db